<html>

<head>
    <title>
        <%= title %>
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
    <script type="text/javascript" src="http://alasql.org/codex/lib/alasql/alasql.min.js"></script>
    <script type="text/javascript" src=" https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>

    <script type="text/javascript" src=" ../js/adicional.js"></script>
    <script src="../js/money.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="../css/adicional.css">
    <link rel="stylesheet" href="../css/prettyForm.css">
    <script src="/socket.io/socket.io.js "></script>
    <script type="text/javascript " src="../js/app.js "></script>

    <script src="../js/jquery.classyedit.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/jquery.classyedit.css" />

    <style type="text/css">

    </style>
    <script>
        $(document).ready(function() {
            $(".classy-editor").ClassyEdit();
        });
    </script>
    <script>
        var loge;

        $(document).ready(function() {

            $("#Notificacion").hide();
            $("#Correcto").hide();


            window.addEventListener('click', function(e){
                if (document.getElementsByClassName('editor')[0].contains(e.target)){
                    $('.editor').height(270);
                } else{
                    $('.editor').height(300);
                }
            })
            $("#registro").click(function() {
                // ComboCategorias   ComboSubCategorias nombreproyecto descripcionproyecto ComboPresupuesto persupuestado
                // #ComboCategorias,#ComboSubCategorias,#nombreproyecto,#descripcionproyecto,#ComboPresupuesto,#persupuestado
                var nombre = $("#firstName").val(),
                    pw = $("#pw").val(),
                    pw2 = $("#pw2").val(),
                    email = $("#email").val(),
                    categorias = $("#ComboCategorias").val(),
                    subcategorias = $("#ComboSubCategorias").val(),
                    nombreproyecto = $("#nombreproyecto").val(),
                    descripcion = $("#descripcionproyecto").val(),
                    ComboPresupuesto = $("#ComboPresupuesto").val(),
                    persupuestado = $("#persupuestado").val();

                var esvalido = false;
                var campos = ["Nombre de Usuario", "Email", "Password", "Categoria", "Sub-Categoria", "Nombre del proyecto", "Descripcion del proyecto", "Presupuesto", "Presupuesto personalizado"];
                var valores;

                if (loge == 1) {
                    valores = '#ComboCategorias,#ComboSubCategorias,#nombreproyecto,#descripcionproyecto,#ComboPresupuesto';
                } else {
                    valores = '#firstName,#email,#pw,#ComboCategorias,#ComboSubCategorias,#nombreproyecto,#descripcionproyecto,#ComboPresupuesto';
                }

                if (ComboPresupuesto == 11) {
                    valores += ',#persupuestado';
                }

                esvalido = validarCampos2(valores);

                if (esvalido) {
                    if (loge == 1) // esta logeado
                    {
                        InsertarProyecto();

                    } else {
                        debugger;
                        if (pw == pw2) {

                            $("#Notificacion").hide(350);
                            $.post("http://localhost:8080/usuario", CamposJson('#firstName,#pw,#email'))
                                .done(function(data) {

                                    if (data.usuario == 1 && !data.success) {
                                        Error('Este usuario ya se encuentra registrado.');
                                    } else {

                                        if (!data.success) {
                                            Error('Este correo ya se encuentra registrado.');
                                        } else {
                                            $("#Correcto").hide(50);
                                            $("#Correcto").show(350);
                                            InsertarProyecto();
                                        }
                                    }

                                });

                        } else {
                            Error('La contrasena no coincide.');

                        }
                    }
                } else {

                }

            });

            function InsertarProyecto() {
                $("#Notificacion").hide(350);
                $.post("http://localhost:8080/InsertarProyecto", CamposJson('#ComboCategorias,#ComboSubCategorias,#nombreproyecto,#descripcionproyecto,#ComboPresupuesto,#persupuestado'))
                    .done(function(data) {

                    });
            }

            var demo = function(data) {
                fx.rates = data.rates
                var rate = fx(1).from("USD").to("MXN")
                    // alert("£1 = $" + rate.toFixed(4))
            }

            $.getJSON("http://api.fixer.io/latest", demo);

            $("#registrar").click(function() {
                $("#acceso").hide();
                $("#registrot").show();
                $("#formulario").show();
                $("#InfoCuenta").hide();
            });

            $("#yatengo").click(function() {

                $("#registrot").hide();
                $("#acceso").show();
                $("#formulario").hide();
                $("#InfoCuenta").show();

            });
            // $("#acceso").hide();
            //  $("#Notificacion").hide();
            //  $("#Correcto").hide();
            $("#login").click(function() {

                $.post("http://localhost:8080/api/authenticate", {
                        name: $('#Logemail').val(),
                        password: $('#Logpw').val()
                    })
                    .done(function(data) {
                        // alert( "second success" );
                        debugger;
                        if (data.success) {

                            localStorage.setItem('tk', data.token);
                            loge = 1;
                            $('#botones').hide();
                            $("#acceso").hide();
                            $("#registrot").hide();
                            $("#formulario").show();
                            $("#InfoCuenta").hide();
                            $("#Notificacion").hide(350);

                        } else {
                            $("#Notificacion").hide(350);
                            $("#Notificacion").show(350);
                            $("#textnot").text("Error:Su correo o usuario no son correctos.");
                        }

                        // debugger;
                    })
                    .fail(function() {
                        // alert( "error" );
                    })

            });

        });
    </script>

</head>

<body>
    <%- include('header'); %>
        <div class="container ">
            <div class="row">
                <div class="col-xs-12" id="demoContainer">
                    <div class="alert alert-success" id="Correcto" style="display:none">
                        <strong>Bien!</strong> Registro Hecho exitosamente.
                    </div>
                    <div class="alert alert-danger" id="Notificacion" style="display:none">
                        <p id="textnot"></p>
                    </div>

                    <div class=" box blurred-bg tinted">
                        <h1 class="shining">Crear</h1>

                        <div class="row" id="botones">

                            <div style="display: inline; float:left;">
                                <div class="sub-main">
                                    <button class="button-three" id="registrar">Quiero registrar una cuenta.</button>
                                </div>
                                <div class="sub-main">
                                    <button class="button-three" id="yatengo">Ya tengo una cuenta</button>
                                </div>
                            </div>

                        </div>

                        <!--  Registro Inicio -->
                        <div id="registrot">

                            <div class="row">
                                <div class="col-md-4">
                                    <label style="color: white;"> Usuario:</label>
                                    <input nv='Usuario' type="text" name="firstName" id="firstName" placeholder="Username" required="required" /> </div>
                                <div class="col-md-4">
                                    <label style="color: white;"> Correo:</label>
                                    <input nv='Correo' type="text" name="email" id="email" placeholder="Username" required="required" /> </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <label style="color: white;"> Contrasena:</label>
                                    <input nv='Password' type="password" name="pw" id="pw" placeholder="Password" required="required" /> </div>
                                <div class="col-md-4">
                                    <label style="color: white;"> Repite Contrasena:</label>
                                    <input type="password" name="pw2" id="pw2" placeholder="Password" required="required" /> </div>

                            </div>

                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-4"> </div>

                            </div>

                            <br>

                        </div>
                        <!--  Registro fin -->

                        <!--  acceso Inicio -->
                        <div id="acceso" style="display:none">

                            <div class="row">
                                <div class="col-md-4">
                                    <label style="color: white;"> Usuario:</label>
                                    <input type="text" nv='Usuario' id="Logemail" name="email" placeholder="Username" required="required" /> </div>
                                <div class="col-md-4">
                                    <label style="color: white;"> Contrasena:</label>
                                    <input nv='Password' type="password" id="Logpw" name="pw" placeholder="Password" required="required" /> </div>

                            </div>

                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <button type="submit" id="login" class="btn btn-primary btn-block btn-large">Acceder como usuario.</button>
                                </div>

                            </div>

                            <br>

                        </div>
                        <!--  acceso fin -->

                        <div id="formulario">

                            <select nv='Categorias' name="color" id="ComboCategorias" name="ComboCategorias" placeholder="Selecciona una categoria:">
                                <option value="99">-- Selecciona una categoria --</option>
                            </select>

                            <select nv='Sub-CategoriaS' name="color" id="ComboSubCategorias" name="ComboSubCategorias" placeholder="Selecciona una categoria:">
                                <option value="99">-- Selecciona una categoria --</option>
                            </select>

                            <div class="row">
                                <div class="col-md-8">
                                    <label style="color: white;"> Nombre:</label>
                                    <input nv='Nombre del proyecto' nr='250' type="text" id="nombreproyecto" name="nombreproyecto" placeholder="Nombre de su proyecto" required="required" /> </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8">
                                    <label style="color: white;"> Describe:</label>
                                    <textarea class="classy-editor" nv='Descripcion del proyecto' type="text" id="descripcionproyecto" name="descripcionproyecto" placeholder="Describe de que se trata tu proyecto aqui" required="required"> </textarea>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8">
                                    <label style="color: white;"> Selecciona el prespuesto para tu proyecto:</label>
                                    <select nv='Presupuesto seleccionado' name="color" id="ComboPresupuesto" name="ComboPresupuesto" placeholder="Selecciona una categoria:">
                                        <option value="99">-- Selecciona un presupuesto --</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row" id="Personalizado" style="display:none">
                                <div class="col-md-3">
                                    <label style="color: white;"> Presupuesto personalizado:</label>
                                    <input nv='Presupuesto personalizado' type="number" id="persupuestado" name="persupuestado" placeholder="Ejemplo: 200" /> </div>
                                <div class="col-md-3" style="color: white;padding-top: 35px;"> USD (Dolares Americanos)</div>
                            </div>

                            <button id="registro" type="submit" class="btn btn-primary btn-block btn-large">Crear nuevo proyecto.</button>

                        </div>
                        <div class="alert alert-info" id="InfoCuenta" style="display:none">
                            <strong>Si tiene una cuenta acceda para poder proceder con la creacion de su proyecto de lo contrario<br>puede proceder a registrar una nueva cuenta seleccionando "Quiero registrar una cuenta"
            </div>
</div>

<script>
        $(function() {

          $.get("http://localhost:8080/Presupuestos", function(data, status){

                     $.each( data, function( key, value ) {
                      if(value.id == 11){
                         $( "#ComboPresupuesto" ).append( " <option value='"+value.id+"'>" + value.descripcion +"</option>" );
                      }else{
                          $( "#ComboPresupuesto" ).append( " <option value='"+value.id+"'>" + value.descripcion +" desde ("+value.desde+" USD a "+value.hasta+" USD )</option>" );

                      }

                    });

              });

            $.when( $.get("http://localhost:8080/categorias", function(data, status){

                     $.each( data, function( key, value ) {
                      $( "#ComboCategorias" ).append( " <option value='"+value.id+"'>" + value.categoria +"</option>" );
                    });

              })).then(function( data, textStatus, jqXHR ) {
                // Paises();

            });

        });

           $(document).on('change','#ComboCategorias',function(){
               $.get("http://localhost:8080/subcategorias?cat="+$("#ComboCategorias").val(), function(data, status){
                   if(data.length>0){
                        $.each( data, function( key, value ) {
                           $( "#ComboSubCategorias" ).html("");
                          $( "#ComboSubCategorias" ).append( " <option value='"+value.id+"'>" + value.subcategoria +"</option>" );
                        });

                   }else{
                       $( "#ComboSubCategorias" ).html("");
                         $( "#ComboSubCategorias" ).append( " <option value='999'>-- Selecciona una categoria --</option>" );
                   }

              });
          });

           $(document).on('change','#ComboPresupuesto',function(){
              if($('#ComboPresupuesto').val() == 11){
                $('#Personalizado').show();
              }else{
                $('#Personalizado').hide();
              }
           });

           $.get("http://localhost:8080/api/?token="+localStorage.getItem('tk'), function(data, status){

              if(data.success){
                loge = 1;
                $('#botones').hide();
                $("#acceso").hide();
                $("#registrot").hide();
              }else{
                loge = 0;
                $('#botones').show();
                $("#registrot").show();
              }

           });
</script>
  </div>
</body>
</html>