<html>

<head>
    <title>
        <%= title %>
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
    <script type="text/javascript" src="http://alasql.org/codex/lib/alasql/alasql.min.js"></script>
    <script type="text/javascript" src=" https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>

    <script type="text/javascript" src=" ../js/adicional.js"></script>

    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js'></script>

    <!--[if IE]>
<script type="text/javascript " src="../js/angular.min.js "></script>
<![endif]-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="../css/adicional.css">
    <link rel="stylesheet" href="../css/search.css">
    <script src="/socket.io/socket.io.js "></script>
    <script type="text/javascript" src="../js/app.js "></script>
    <script type="text/javascript" src="../js/angularjs.js "></script>

    <style type="text/css">
        body {
            /* background:linear-gradient(#014576,#0B7AA7,#4CB1A3,#B1DB91)no-repeat;
  background-size:cover;
  overflow-x: hidden;*/
        }
    </style>
    <script>
        debugger;
        var typingTimer; //timer identifier
        var doneTypingInterval = 400; //time in ms, 5 second for example
        var $input = $('#buscador');

        //on keyup, start the countdown
        $(document).on('keyup', '#buscador', function() {
            clearTimeout(typingTimer);
            typingTimer = setTimeout(doneTyping, doneTypingInterval);
        });

        //on keydown, clear the countdown 
        $(document).on('keydown', '#buscador', function() {
            clearTimeout(typingTimer);
        });

        //user is "finished typing," do something
        function doneTyping() {
            $("#formsearch").submit();
        }

        $(document).on('click', '#botonx', function() {
            debugger;
            location.href = '/project/' + $(this).parent().parent().children().attr('url');
        });
    </script>

</head>

<body>
    <%- include('header'); %>
        <div class="container ">

            <script type="text/javascript">
                var pager = new Imtech.Pager();
                $(document).ready(function() {

                    $.get('http://localhost:8080/searchapi?last=1' + $(this).children('#buscador').val(), function(data, status) {
                        $('tbody').html('');

                        $.when(
                            $.each(data, function(index, element) {
                                $('#search').append('<tr class="z"  url=' + element.urlproyecto + ' > ' +
                                    ' <td  id="url" url=' + element.urlproyecto + ' > <p> ' + element.nombre + ' </p>  <div>  ' + element.descripcioncorta + '  </div> </td>' +
                                    ' <td>Propuestas</td><td>Fecha</td>' +
                                    '<td>Precio  <br> <button   id="botonx">Postularme</button>  </td>' +
                                    ' </tr>');

                            })

                        ).then(function(x) {
                            pager.paragraphsPerPage = 9;
                            pager.pagingContainer = $('tbody');
                            pager.paragraphs = $('tr', pager.pagingContainer);
                            pager.showPage(1);

                        });
                    });

                });

                $(document).on('submit', '#formsearch', function(data) {
                   var num = 0;
                    $.get('http://localhost:8080/searchapi?q=' + $(this).children('#buscador').val(), function(data, status) {
                        $('tbody').html('');

                        $.when(
                            $.each(data, function(index, element) {
                                $('#search').append('<tr class="z"  > ' +
                                    ' <td  id="url" url=' + element.urlproyecto + ' > <p> ' + element.nombre + ' </p>  <div>  ' + element.descripcioncorta + '  </div> </td>' +
                                    ' <td>Propuestas</td><td>Fecha</td>' +
                                    '<td>Precio  <br> <button    id="botonx">Postularme</button>  </td>' +
                                    ' </tr>');

                            })

                        ).then(function(x) {
                            pager.paragraphsPerPage = 9;
                            pager.pagingContainer = $('tbody');
                            pager.paragraphs = $('tr', pager.pagingContainer);
                            pager.showPage(1);

                        });
                    });
                    return false;
                });

                $(document).on('click', 'th', function() {
                    var table = $(this).parents('table').eq(0);
                    var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()));
                    this.asc = !this.asc;
                    if (!this.asc) {
                        rows = rows.reverse();
                    }
                    table.children('tbody').empty().html(rows);
                });

                function comparer(index) {
                    return function(a, b) {
                        var valA = getCellValue(a, index),
                            valB = getCellValue(b, index);
                        return $.isNumeric(valA) && $.isNumeric(valB) ?
                            valA - valB : valA.localeCompare(valB);
                    };
                }

                function getCellValue(row, index) {
                    return $(row).children('td').eq(index).text();
                }


            </script>

            <div id="buscador">
                <form id="formsearch">
                    <input type="text" id="buscador" name="">
                    <input type="submit" value="Buscar">
                </form>

            </div>
            <div class="webSearch">
                <h3><a href="">Proyectos encontrados</a></h3>

                <table id="search">
                    <thead>
                        <tr>
                            <th>Proyecto</th>
                            <th>Propuestas</th>
                            <th>Fecha</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>b</td>
                            <td>352</td>
                            <td>352</td>
                        </tr>
                    </tbody>
                </table>

                <div id="pagingControls"></div>
            </div>
            <script type="text/javascript">
                /*  $(document).ready(function() {
                                    pager.paragraphsPerPage = 6; // set amount elements per page
                                    pager.pagingContainer = $('#search'); // set of main container
                                    pager.paragraphs = $('div.z', pager.pagingContainer); // set of required containers
                                    pager.showPage(1);
                                });*/
            </script>

        </div>
</body>

</html>